@{
    ViewBag.Title = "Home";
}
<div>
    <p>
        Choose a background color:
        @Html.ActionLink("Pink", "SetBackground", new { color = "#dc9797" })
        @Html.ActionLink("Blue", "SetBackground", new { color = "#82bbf2" })
    </p>

    <h1>Operas I Have Seen</h1>

    <p>
        Welcome! On this site I'm going to discuss my hobby: listening
        to opera. Start by looking at the
        @Html.ActionLink("operas I've seen.", "Index", "Opera")
    </p>

    <div id="MyRefresh"></div>
    <input type="button" onclick="loadPartialView()" value="Refresh"/>
    <script>
        function loadPartialView() {
            $.ajax({
                url:      "@Url.Action("_MyRefresh", "Home")",
                type:     'GET',   // <-- make a async request by GET
                dataType: 'html' , // <-- to expect an html response
                success: function (result)
                {
                    $('#MyRefresh').html(result);
                }
            });
        }
        $(function () {

            loadPartialView(); // first time

            // re-call the function each 5 seconds
            window.setInterval("loadPartialView()", 10000);

        });
    </script>
</div>
