@model OperasWebSites.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Menu: @Html.MvcSiteMap().Menu(false, false, true)
        Breadcrumb: @Html.MvcSiteMap().SiteMapPath()
    </div>
</body>
</html>
